.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    text-align: center;
    margin: 0 auto;
    /* Asegura que esté centrado horizontalmente */
    position: relative;
    /* Necesario para posicionar el botón */
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    /* Espacio arriba del botón */
    align-self: center;
    /* Centrado horizontal en flex */
}

.logout-button:hover {
    background-color: #cc0000;
}

.profile-info p {
    margin: 1rem 0;
    /* Espacio entre los textos */
    font-size: 1rem;
    color: #333;
}